.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
p{
  padding:10px;
  text-align: justify;
}

h1, h2, h3, h4, h5{
  padding: 5px;
  text-align: center;
}
table, th, td{
  padding:20px;
  margin:0 auto;
}
.header .six.columns h3 {
  padding: 50px;
}

.six.columns h3 {
    margin:0 auto;
}
.six.columns img {
    position: relative;
    left:10%;
    padding: inherit;
    border-radius: 50%;
}
.which-city img{
  float: left;
  padding: 15px;
  width: auto;
  height: auto;
}
.table-box {
  width:100%;
}
.table-box table {
  width:80%;
}
.sites{
  align-items: center;
}
.four.columns img  {
  float: left;
  padding: 10px;
}
.name-box {
  height:auto;
  margin:auto;
  border: 1px solid black;
}
.four.columns.name-box{
  left:500px;
}
.name-box h3{
  float:left;
  position: relative;
  top:50px;
  padding-right: 10px;
}

.language-box{
  padding-top: 20px;
}
.header h3{
  text-align: right;
}

.twelve.columns h1 {
  text-align: center;
}


@media (min-width: 200px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .header h3{
    text-align: center;
  }
  .header img{
    padding-left: 30%;
  }
}

@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .header h3{
    text-align: center;
    padding-top: 11%;
    padding-left: 10%;
  }
  .header img{
    padding-left: 30%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .header h3{
    text-align: right;
    padding-top: 11%;
    padding-left: 10%;
  }
  .header img{
    padding-left: 30%;
  }
}

footer{
  text-align: center;
  background-color: lavender;
}
